.todo-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.todo-item input {
  width: 20px;
}

.todo-item .content {
  flex: 1;
}

.todo-item .date {
  font-size: 14px;
  color: gray;
}

.todo-item button {
  cursor: pointer;
  color: gray;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 8px;
}
